{% extends 'base.html' %}

{% block content %}


<style>
    body{
        background-image: url('static/admin.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .navbar {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        animation: slideDown 0.5s ease;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    .nav-link {
        color: #007bff !important;
        font-weight: 600;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .nav-link:hover {
        color: #0056b3 !important;
        transform: scale(1.1);
    }
</style>


{% endblock content %}